
firmware/build/cmake_install.cmake
firmware/build/CMakeCache.txt
*.cmake
firmware/build/pico-sdk/src/rp2_common/hardware_rtc/Makefile
*.marks
firmware/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
*.cpp
*.check_cache
*.log
*.txt
*.make
*.obj
firmware/build/pico-sdk/tools/Makefile
firmware/build/pico-sdk/src/rp2_common/tinyusb/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_unique_id/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_stdlib/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_stdio_usb/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_stdio_uart/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_stdio_semihosting/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_stdio/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_standard_link/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_runtime/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_printf/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_platform/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_multicore/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_mem_ops/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_malloc/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_int64_ops/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_float/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_fix/rp2040_usb_device_enumeration/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_fix/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_double/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_divider/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_cxx_options/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_bootsel_via_double_reset/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_bootrom/Makefile
firmware/build/pico-sdk/src/rp2_common/pico_bit_ops/Makefile
firmware/build/pico-sdk/src/rp2_common/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_xosc/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_watchdog/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_vreg/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_uart/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_timer/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_sync/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_spi/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_resets/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_pwm/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_pll/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_pio/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_irq/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_interp/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_i2c/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_gpio/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_flash/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_exception/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_dma/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_divider/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_clocks/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_claim/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_base/Makefile
firmware/build/pico-sdk/src/rp2_common/hardware_adc/Makefile
firmware/build/pico-sdk/src/rp2_common/cmsis/Makefile
firmware/build/pico-sdk/src/rp2_common/boot_stage2/Makefile
firmware/build/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default_padded_checksummed_asm.dir/depend.internal
firmware/build/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default.dir/depend.internal
firmware/build/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default.dir/ASM.includecache
firmware/build/pico-sdk/src/rp2_common/boot_stage2/bs2_default_padded_checksummed.S
firmware/build/pico-sdk/src/rp2_common/boot_stage2/bs2_default.elf.map
firmware/build/pico-sdk/src/rp2_common/boot_stage2/bs2_default.elf
firmware/build/pico-sdk/src/rp2_common/boot_stage2/bs2_default.dis
firmware/build/pico-sdk/src/rp2_common/boot_stage2/bs2_default.bin
firmware/build/pico-sdk/src/rp2040/Makefile
firmware/build/pico-sdk/src/rp2040/hardware_structs/Makefile
firmware/build/pico-sdk/src/rp2040/hardware_regs/Makefile
firmware/build/pico-sdk/src/Makefile
firmware/build/pico-sdk/src/common/pico_util/Makefile
firmware/build/pico-sdk/src/common/pico_usb_reset_interface/Makefile
firmware/build/pico-sdk/src/common/pico_time/Makefile
firmware/build/pico-sdk/src/common/pico_sync/Makefile
firmware/build/pico-sdk/src/common/pico_stdlib/Makefile
firmware/build/pico-sdk/src/common/pico_divider/Makefile
firmware/build/pico-sdk/src/common/pico_bit_ops/Makefile
firmware/build/pico-sdk/src/common/pico_binary_info/Makefile
firmware/build/pico-sdk/src/common/pico_base/Makefile
firmware/build/pico-sdk/src/common/Makefile
firmware/build/pico-sdk/src/common/boot_uf2/Makefile
firmware/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.o
firmware/build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.o
firmware/build/CMakeFiles/ELF2UF2Build-complete
firmware/build/CMakeFiles/ELF2UF2Build.dir/depend.internal
firmware/build/CMakeFiles/main.dir/ASM.includecache
firmware/build/CMakeFiles/main.dir/C.includecache
firmware/build/CMakeFiles/main.dir/CXX.includecache
firmware/build/CMakeFiles/main.dir/depend.internal
firmware/build/CMakeFiles/Makefile2
firmware/build/elf2uf2/boot_uf2_headers/Makefile
firmware/build/elf2uf2/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
firmware/build/elf2uf2/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
firmware/build/elf2uf2/CMakeFiles/3.16.3/CompilerIdC/a.out
firmware/build/elf2uf2/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
firmware/build/elf2uf2/CMakeFiles/3.16.3/CompilerIdCXX/a.out
firmware/build/elf2uf2/CMakeFiles/elf2uf2.dir/CXX.includecache
firmware/build/elf2uf2/CMakeFiles/elf2uf2.dir/depend.internal
firmware/build/elf2uf2/CMakeFiles/elf2uf2.dir/main.cpp.o
firmware/build/elf2uf2/CMakeFiles/Makefile2
firmware/build/elf2uf2/elf2uf2
firmware/build/elf2uf2/Makefile
firmware/build/elf2uf2/src/ELF2UF2Build-stamp/ELF2UF2Build-configure
firmware/build/elf2uf2/src/ELF2UF2Build-stamp/ELF2UF2Build-done
firmware/build/elf2uf2/src/ELF2UF2Build-stamp/ELF2UF2Build-download
firmware/build/elf2uf2/src/ELF2UF2Build-stamp/ELF2UF2Build-install
firmware/build/elf2uf2/src/ELF2UF2Build-stamp/ELF2UF2Build-mkdir
firmware/build/elf2uf2/src/ELF2UF2Build-stamp/ELF2UF2Build-patch
firmware/build/elf2uf2/src/ELF2UF2Build-stamp/ELF2UF2Build-update
firmware/build/elf2uf2/tmp/ELF2UF2Build-cfgcmd.txt.in
firmware/build/generated/pico_base/pico/config_autogen.h
firmware/build/generated/pico_base/pico/version.h
firmware/build/main.bin
firmware/build/main.dis
firmware/build/main.elf
firmware/build/main.elf.map
firmware/build/main.hex
firmware/build/main.uf2
firmware/build/Makefile
firmware/build/pico-sdk/docs/Makefile
firmware/build/pico-sdk/Makefile
firmware/build/pico-sdk/src/common/boot_picoboot/Makefile
